<div *ngIf="data.type_edit == 'orderList'" class="main-container">
        <h2 class="text-xl font-bold mb-4">Editing Orders</h2>
        <ng-container>
                <!-- /// -->
                <table class="border-collapse w-full">
                        <tr class="bg-gray-200">
                                <th class="border p-2 asterisk">Mã</th>
                                <th class="border p-2 asterisk">Loại Lệnh</th>
                                <th class="border p-2 asterisk">Số Lượng</th>
                                <th *ngIf="data.item.order_type == 'BUY'" class="border p-2 asterisk">Giá Mua</th>
                                <th *ngIf="data.item.order_type == 'SELL'" class="border p-2 asterisk">Giá Bán</th>
                                <th class="border p-2 asterisk">Tổng Tiền</th>
                                <th class="border p-2">Thời Gian</th>
                                <th class="border p-2">Trạng Thái</th>
                        </tr>
                        <tr>
                                <td><input [value]="data.item.stock_code" name="stock" placeholder="Stock Code"
                                                class="border p-2 rounded w-full" disabled /></td>
                                <td><select [value]="data.item.order_type" name="type" class="border p-2 rounded w-24"
                                                disabled>
                                                <option value="BUY">BUY</option>
                                                <option value="SELL">SELL</option>
                                        </select></td>
                                <td><input [value]="data.item.quantity | number"
                                                (change)="onChangeValue($event, 'quantity')" name="qty"
                                                placeholder="Qty" type="text" class="border p-2 rounded w-full" /></td>
                                <!-- digitAddCommas [fractions]="0" [tmComponent]="true" -->
                                <td *ngIf="data.item.order_type == 'BUY'"> <input [value]="data.item.price_buy | number"
                                                (change)="onChangeValue($event, 'price_buy')" name="price_buy"
                                                placeholder="Price" type="text" class="border p-2 rounded w-full" />
                                </td>
                                <td *ngIf="data.item.order_type == 'SELL'"> <input
                                                [value]="data.item.price_sell | number"
                                                (change)="onChangeValue($event, 'price_sell')" name="price_sell"
                                                placeholder="Price" type="text" class="border p-2 rounded w-full" />
                                </td>
                                <td><input [value]="totalMount | number" name="total_amount" placeholder="Total Amount"
                                                type="text" disabled class="border p-2 rounded w-full" /></td>
                                <td><input [value]="issuedDate" (change)="onChangeValue($event, 'created_at')"
                                                type="date" placeholder="Created Date" name="date"
                                                class="border p-2 rounded w-full" /></td>
                                <td><input [value]="data.item.description"
                                                (change)="onChangeValue($event, 'description')" type="text"
                                                placeholder="Description" name="description"
                                                class="border p-2 rounded w-full" /></td>
                        </tr>
                </table>
                <!-- /// -->
                <div class="btn">
                        <button (click)="editOrder()"
                                class="text-white px-3 py-2 rounded bg-green-600 cursor-pointer">Save</button>
                        <button class="text-white px-3 py-2 rounded bg-green-600 rounded cursor-pointer"
                                (click)="onClose()">Close</button>
                </div>
                <!-- <div class="btn-close">
        </div> -->
        </ng-container>
</div>
<div *ngIf="data.type_edit == 'cashFlow'" class="main-container">
        <h2 class="text-xl font-bold mb-4">Editing Cash Flow</h2>
        <ng-container>
                <!-- /// -->
                <table class="border-collapse w-full">
                        <tr class="bg-gray-200">
                                <th class="border p-2 asterisk">Thời Gian</th>
                                <th class="border p-2 asterisk">Loại</th>
                                <th class="border p-2 asterisk">Tổng Tiền</th>
                                <th class="border p-2 asterisk">Trạng Thái</th>
                        </tr>
                        <tr class="tr_portfolio">
                                <!-- ISSUE DATE -->
                                <td><input [value]="issuedDate" (change)="onChangeValueCash($event, 'created_at')"
                                                type="date" placeholder="Created Date" name="date"
                                                class="border p-2 rounded w-full" />
                                </td>
                                <!-- TYPE -->
                                <td><select [value]="data.item['type']" (change)="onChangeValueCash($event, 'type')"
                                                disabled name="type" class="border p-2 rounded w-full">
                                                <option value="DEPOSIT">DEPOSIT</option>
                                                <option value="WITHDRAW">WITHDRAW</option>
                                        </select></td>
                                <!-- TOTAL AMOUNT -->
                                <td><input [value]="parseInt(data.item['total_amount']) | number"
                                                (change)="onChangeValueCash($event, 'total_amount')" name="total_amount"
                                                placeholder="Total Amount" type="text"
                                                class="border p-2 rounded w-full" /></td>
                                <!-- DESCRIPTION -->
                                <td style="width: 16%;"><input [value]="data.item['status']"
                                                (change)="onChangeValueCash($event, 'status')" type="text"
                                                placeholder="status" name="description"
                                                class="border p-2 rounded w-full" /></td>
                        </tr>
                </table>
                <!-- /// -->
                <div class="btn">
                        <button (click)="editCashFlow()"
                                class="text-white px-3 py-2 rounded bg-green-600 cursor-pointer">Lưu</button>
                        <button class="text-white px-3 py-2 rounded bg-green-600 rounded cursor-pointer"
                                (click)="onClose()">Đóng</button>
                </div>
                <!-- <div class="btn-close">
        </div> -->
        </ng-container>
</div>